.git
.gitignore
.env
.env.local
vendor/
node_modules/
tests/
phpunit.xml.dist
Dockerfile
docker-compose.yml
DEPLOY.md
writable/debugbar/
writable/logs/*
writable/session/*
writable/cache/*
!writable/index.html
!writable/logs/index.html
!writable/session/index.html
!writable/cache/index.html
public/uploads/*
!public/uploads/index.html
README.md
LICENSE
